@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@namespace Ids.ChangeUsername
@model ChangeUsernameInput

@{
    Layout = "~/Layout/MaterialUi.cshtml";
}

<h1>Change email</h1>
<h5>What's the new email?</h5>
<p>We will send an email to this address with information on how to finalize the change. </p>
<form 
    class="section" 
    asp-controller="ChangeUsername" 
    asp-action="Verify" 
    method="POST">
    <div class="input-field">
        <i class="material-icons prefix">email</i>
        <input type="email" placeholder="email" class="validate" asp-for="NewUsername" autofocus>
        <label asp-for="NewUsername" class="active">New email</label>
        <span class="helper-text" asp-validation-for="NewUsername"></span>
    </div>
    <button class="btn" name="forgot-submit" value="submit">Submit</button>
    <a class="btn-flat" asp-controller="ProfileSpa" asp-action="Index" asp-route-returnUrl="@Model.ReturnUrl"> Cancel</a>
</form>
