@model ProfileUpdate

@functions
{
    string Username => User
        .FindFirst(x => x.Type == "preffered_username")
        ?.Value ?? "";
}

<div class="profile-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>Profile
            <small>review personal data</small>
            </h1>
        </div>
        
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">A friendly name</h3>
                </div>
                <div class="panel-body">
                    <form asp-action="Update">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <input type="hidden" asp-for="ReturnUrl" />
                        <p>A friendly name is what is displayed to other users. Defaults to username but can be changed to something friendlier. A real friendly name is the name you're known for afk.</p>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Friendly name</label>
                            <input class="form-control" value=@Model.Name asp-for="Name" autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" name="intent" value=@ProfileController.ProceedIntent>Accept</button>
                        @if(Model.OicdLogin)
                        {
                            <button class="btn btn-default" name="intent" value=@ProfileController.AbortIntent>Cancel</button>
                        }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>