@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@namespace Ids.Register
@model EmailVerificationCode

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="root-view">
    <div class="content heavy">
        <h1>Register</h1>
    </div>
    <div class="content light">
        <h2>Paste the token we sent you</h2>
        <p>In the welcome email we sent you there is a token. Paste it in the input below and submit to activate your account.</p>
        <form asp-controller="Register" asp-action="VerifyCode" method="POST">
            <input type="hidden" asp-for="UserId" />
            <div class="forminput">
                <label asp-for="Code" class="control-label"></label>
                <input class="form-control" placeholder="Code" asp-for="Code" autofocus>
                <span asp-validation-for="Code"></span>
            </div>
            <div class="formbuttons">
                <button class="heavy" name="register-submit" value="submit">Submit</button>
            </div>
        </form>
    </div>
</div>