@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@namespace Ids.Register
@model EmailVerificationCode

@{
    Layout = "~/Layout/MaterialUi.cshtml";
}

<h1>Register</h1>
<ul class="collection profile-completion">
    <li class="collection-item">
        <i class="material-icons">chevron_right</i>
        <label class="name">Email:</label>
        <label class="status" style="flex-grow: 1;">not added</label>
    </li>
    <li class="collection-item">
        <i class="material-icons">check_box_outline_blank</i>
        <label class="name">Password:</label>
        <label class="status" style="flex-grow: 1;">not added</label>
    </li>
    <li class="collection-item">
        <i class="material-icons">check_box_outline_blank</i>
        <label class="name">Name:</label>
        <label class="status" style="flex-grow: 1;">not added</label>
    </li>
    <li class="collection-item">
        <i class="material-icons">check_box_outline_blank</i>
        <label class="name black-text" style="flex-grow: 1;">Profile complete</label>
    </li>
</ul>
<h5>Paste the token we sent you</h5>
<p>In the welcome email we sent you there is a token. Paste it in the input below and submit to activate your account.</p>
<form 
    class="section" 
    asp-controller="Register" 
    asp-action="VerifyCode" 
    method="POST">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="input-field">
        <i class="material-icons prefix">lock_open</i>
        <textarea class="materialize-textarea" type="text" placeholder="Token" class="validate" asp-for="Code" tabindex="1" autofocus></textarea>
        <label asp-for="Code">Token</label>
        <span asp-validation-for="Code" class="helper-text"></span>
    </div>
    <button class="btn right" type="submit" name="login_submit" tabindex="2">Submit</button>
</form>