@using IdentityServer4.Extensions
@using Microsoft.Extensions.Primitives

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

@functions
{
    string forwardQueryState()
    {
        var state = Context.Request.Query
            .SingleOrDefault(x => x.Key == "returnUrl");

        if (state.Equals(default(KeyValuePair<string, StringValues>)))
        {
            return Context.Request.Path.ToString();
        }
        else
        {
            return state.Value.First();
        }
    } 
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IdentityServer4</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @RenderBody()
</body>
    @RenderSection("Scripts", required: false)
</html>
