@model ErrorViewModel

@{
    var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
    var request_id = Model?.Error?.RequestId;
}

<div class="root-view">
    <div class="content heavy">
        <h1>Error</h1>
    </div>
    <div class="content light">
        <h2>Something went wrong.</h2>
        @if (error != null)
        {
            if (errorDescription != null)
            {
                <p>@errorDescription</p>
            }
        }
        @if (request_id != null)
        {
            <p>Request Id: @request_id</p>
        }
    </div>
</div>