@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Layout/MaterialUi.cshtml";
}

@using Ids.Logout
@model LogoutInput

<h1>Logout</h1>
<h5>Confirm</h5>
<p>You will terminate single-sign-in for all apps using @(Context.Request.Host) as authentication server. You will
        be prompted for your credentials the next time you log in to any of them.</p>
<form 
    asp-controller="Logout" 
    asp-action="EndSession" 
    method="POST">
    <input type="hidden" asp-for="LogoutId" />
    <button class="btn" name="login-submit" value="submit">Yes</button>
</form>
