@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Layout/MaterialUi.cshtml";
}

@using Ids.Logout
@model LogoutInput

<h1>Logout</h1>
<h5>Single sign on terminated.</h5>
<p>You're always welcome back.</p>
