@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Ids.Logout
@model LogoutInput

<div class="root-view">
    <div class="content heavy">
        <h1>End session</h1>
    </div>
    <div class="content light">
        <h2>Single sign on terminated.</h2>
        <p>You're always welcome back.</p>
    </div>
</div>