@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Layout/MaterialUi.cshtml";
}

@using Ids.Home
@model ErrorDescription

@{
    var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
    var request_id = Model?.Error?.RequestId;
}

<h1>Error</h1>
<h5>Something went wrong</h5>
<p>You can always try again. If you encounter this page repeatedly please make a note of the details on this page and
    contact webmaster.</p>
@if (error != null)
{
    if (errorDescription != null)
    {
        <p>@errorDescription</p>
    }
}
@if (request_id != null)
{
    <p>Request Id: @request_id</p>
}
