@model ResetInput

<div class="root-view">
    <div class="content heavy">
        <h1>Forgot my password</h1>
    </div>
    <div class="content light">
        <h2>Email me a reset token</h2>
        <form asp-controller="Forgot" asp-action="Reset" method="POST">
            <div class="forminput">
                <label asp-for="Email" class="control-label"></label>
                <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="formbuttons">
                <button class="heavy" name="forgot-submit" value="submit">Submit</button>
            </div>
        </form>
    </div>
</div>