@model VerifiedResetInput

<div class="root-view">
    <div class="content heavy">
        <h1>Forgot my password</h1>
    </div>
    <div class="content light">
        <h2>Choose a new password</h2>
        <form asp-controller="Forgot" asp-action="Verify" method="POST">
            <input type="hidden" asp-for="UserId" />
            <div class="forminput">
                <label asp-for="Code" class="control-label"></label>
                <input class="form-control" placeholder="Code" asp-for="Code" autofocus>
                <span asp-validation-for="Code"></span>
            </div>
            <div class="forminput">
                <label asp-for="Password" class="control-label"></label>
                <input class="form-control" placeholder="Password" asp-for="Password" autofocus>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="forminput">
                <label asp-for="PasswordRepeated" class="control-label"></label>
                <input class="form-control" placeholder="PasswordRepeated" asp-for="PasswordRepeated" autofocus>
                <span asp-validation-for="PasswordRepeated"></span>
            </div>
            <div class="formbuttons">
                <button class="heavy" name="register-submit" value="submit">Submit</button>
            </div>
        </form>
    </div>
</div>