<div class="root-view">
    <div class="content heavy">
        <h1>Forgot my password</h1>
    </div>
    <div class="content light">
        <form asp-controller="Register" asp-action="RequestEmailVerification" method="POST">
            <h2>Email verified</h2>
        </form>
    </div>
</div>