@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="root-view">
    <div class="content heavy">
        <h1>Delete your account</h1>
    </div>
    <div class="content light">
        <form asp-controller="Register" asp-action="RequestEmailVerification" method="POST">
            <h2>We could not delete your account</h2>
        </form>
    </div>
</div>