@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="root-view">
    <div class="content heavy">
        <h1>Identityserver</h1>
    </div>
    <div class="content light">
        <h3>Local account</h3>
        <p>You can <a asp-controller="Account" asp-action="Register" asp-route-returnUrl="/">Register</a> an account if you haven't already or <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="/">Log in</a> if you have.</p>
        <h3>Discovery endpoint</h3>
        <p>
            IdentityServer publishes a
            <a href="~/.well-known/openid-configuration">discovery document</a>
            where you can find metadata and links to all the endpoints, key material, etc.
        </p>
    </div>
</div>
