@model LoginViewModel

<div class="root-view">
    <div class="content heavy">
        <h1>Login</h1>
    </div>
    <div class="content light">
        <form asp-route="Login" method="post">
            <h2>Byappt account</h2>
            <input type="hidden" asp-for="ReturnUrl" />
            <fieldset>
            <div class="forminput">
                <label asp-for="Email" class="control-label"></label>
                <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="forminput">
                <label asp-for="Password"></label>
                <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                <span asp-validation-for="Password"></span>
             </div>
             </fieldset>
             <p>Log in using an account you have with Byappt. You can <a asp-controller="Account" asp-action="Register" asp-route-returnUrl=@Model.ReturnUrl>Register</a> an account if you haven't already.</p>
        @if (Model.AllowRememberLogin)
        {
            <h3>Remember login</h3>
            <div class="rememberme">
                <input asp-for="RememberLogin">
                <label asp-for="RememberLogin">
                    Remember My Login
                </label>
            </div>
            <p>By checking this box you'll remain signed in until your session expires, even if you close your browser. Otherwise closing the browser will always log you out.</p>
            
        }
            <partial name="_ValidationSummary" />
            <div class="formbuttons">
                <button class="light" name="button" value="cancel">Cancel</button>
                <button class="heavy" name="button" value="login">Login</button>
            </div>
        </form>
        <hr>


    @if(Model.VisibleExternalProviders.Any())
    {   
        <h2>Other Accounts</h2>
        <p>Sign in using an account on one of these sites.</p>
        <ul>
        @foreach (var provider in Model.VisibleExternalProviders)
        {
            <li>
                <a asp-controller="External"
                   asp-action="Challenge"
                   asp-route-provider="@provider.AuthenticationScheme"
                   asp-route-returnUrl="@Model.ReturnUrl">
                    @provider.DisplayName
                </a>
            </li>
        }
        </ul>
    }   
    @if(!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
    {   
        <div class="alert alert-warning">
            <strong>Invalid login request</strong>
            There are no login schemes configured for this client.
        </div>
    } 
    </div>  
</div>