@model LogoutViewModel

<div class="root-view">
    <div class="content heavy">
        <h1>Logout</h1>
    </div>

    <div class="content light">
    <p>Would you like to logout of IdentityServer?</p>
    <form asp-action="Logout">
        <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
        <div class="formbuttons">
            <button class="heavy">Yes</button>
        </div>
    </form>
</div>