@model RegisterInput;

<div class="root-view">
    <div class="content heavy">
        <h1>Register</h1>
    </div>
    <div class="content light">
        <form asp-route="Register" method="post" >
            <h3 class="panel-title">Register</h3>
            <p>Your e-mail is your username. Pick a strong password.</p>
            <input type="hidden" asp-for="ReturnUrl">
            <fieldset>
                <div class="forminput">
                    <label asp-for="Email"></label>
                    <input placeholder="Email" asp-for="Email" autofocus>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="forminput">
                    <label asp-for="Password"></label>
                    <input type="password" placeholder="Password" asp-for="Password" autocomplete="off">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="forminput">
                    <label asp-for="PasswordAgain"></label>
                    <input type="password" placeholder="Password" asp-for="PasswordAgain" autocomplete="off">
                    <span asp-validation-for="PasswordAgain"></span>
                </div>
            </fieldset>
            <partial name="_ValidationSummary" />
            <div class="formbuttons">
                <button class="light" name="button" value="cancel">Cancel</button>
                <button class="heavy" name="button" value="register">Register</button>
            </div>
        </form>
    </div>
</div>