@model RegistrationRequest

<div class="root-view">
    <div class="content heavy">
        <h1>Register</h1>
    </div>
    <div class="content light">
        <h2>Create an account</h2>
        <form asp-controller="Register" asp-action="RequestEmailVerification" method="POST">
            <div class="forminput">
                <label asp-for="Email" class="control-label"></label>
                <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="formbuttons">
                <button class="heavy" name="register-submit" value="submit">Submit</button>
            </div>
        </form>
    </div>
</div>