@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Layout/MaterialUi.cshtml";
}

@using Ids.Login
@model LoginInput

<h1>Login</h1>
<h5>Username and password</h5>
<form 
    class="section"
    asp-controller="Login" 
    asp-action="VerifyCredentials" 
    method="POST">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="input-field">
        <i class="material-icons prefix">account_circle</i>
        <input tabindex="1" type="email" placeholder="email" class="validate" asp-for="Email" autofocus>
        <label asp-for="Email" class="active">Username (your email). Register <a asp-controller="Register" asp-action="Index" asp-route-returnUrl="@Model.ReturnUrl">here.</a></label>
        <span class="helper-text" asp-validation-for="Email"></span>
    </div>
    <div class="input-field">
        <i class="material-icons prefix">lock_open</i>
        <input tabindex="2" type="password" placeholder="password" class="validate" asp-for="Password" />
        <label asp-for="Password" class="active">Password. Did you <a asp-controller="Forgot" asp-action="Index" asp-route-returnUrl="@Model.ReturnUrl">forget?</a></label>
        <span class="helper-text" asp-validation-for="Password"></span>
    </div>
    <button tabindex="3" class="btn" name="login-submit" value="submit">Log in</button>
</form>
